//Base is the default
@import "./variables";

html,
body,
form {
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1 {
  font-size: 2rem;
  color: $tertiary;
  margin-top: 0px;
  @media screen and (max-width: 720px) {
    font-size: 1.5rem;
  }
}

a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

